<h1>Admin Merchant Index</h1>

<% @merchants.each do |merchant| %>
<p><%=link_to merchant.name, "/admin/merchants/#{merchant.id}" %> </p>
<% end  %>



<% @merchants.each do |merchant| %>
          <%= merchant.id %>
          <%= link_to merchant.name, admin_merchants_path(merchant) %>
          <% if  merchant.status == 'Enable' %>
          <%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: "Disable", id: merchant.id} %>
          <% binding.pry %>
          <% else merchant.status == "Disable" %>
          <%= button_to "Enable", admin_merchants_path(merchant_id: merchant.id), method: :patch, params: {status: "Enable"} %>

    <% end %>
    <% end  %>
