
<%=link_to "Update Name", edit_admin_merchant_path(@merchant) %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>


  <h1> <%= @merchant.name %></h1>
  <h1> <%= @merchant.status %></h1>


  <%=link_to "Admin Merchants Index", "/admin/merchants"%>
