<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Merchant Name:</strong> <%= @merchant.name %></h2>
</p>

<h3>Items Ready to Ship</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Ship</th>
  </tr>
  <% @merchant.items_ready_to_ship.each do |inv_item| %>
    <tr>
      <td><%= link_to inv_item.item.name, item_path(inv_item.item_id) %></td>
      <td><%= link_to inv_item.invoice_id, merchant_invoice_path(@merchant.id) %></td>
      <td><%= inv_item.unit_price %></td>
      <td><%= inv_item.quantity %></td>
      <td><%= link_to 'Ship' %></td>
    </tr>
  <% end %>
</table>

<br>
<br>

<%= link_to 'Items', merchant_items_path(@merchant) %>
<%= link_to 'Invoices', merchant_invoice_path(@merchant) %>

<br>
<br>
