<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant.name %>
</p>

<table>
  <th>Items Ready to Ship</th>
  <% @merchant.items_ready_to_ship.each do |inv_item| %>
    <tr>
      <td><%= link_to inv_item.item.name, item_path(inv_item.item_id) %></td>
      <td><%= link_to inv_item.invoice_id, merchant_invoice_path %></td>
      <td><%= inv_item.price %></td>
      <td><%= inv_item.quantity %></td>
      <td><%= link_to 'Ship', ship_item_path(item) %></td>
    </tr>
<ul>
  <% @merchant.items_ready_to_ship.each do |item| %>
    <li><%= link_to item.name, item %></li>
    <li><%= link_to item.name, item %></li>
  <% end %>

<%= link_to 'Items', merchant_items_path(@merchant) %>
<%= link_to 'Invoices', merchant_invoice_path(@merchant) %>

<br>
<br>
