<p id="notice"><%= notice %></p>

<p>
  <strong>Items:</strong>
  <%= @invoice_item.items %>
</p>

<p>
  <strong>Invoices:</strong>
  <%= @invoice_item.invoices %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoice_item.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @invoice_item.unit_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invoice_item.status %>
</p>

<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'Back', invoice_items_path %>
