<%= form_with(model: merchant_invoice, local: true) do |form| %>
  <% if merchant_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(merchant_invoice.errors.count, "error") %> prohibited this merchant_invoice from being saved:</h2>

      <ul>
      <% merchant_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :merchants_id %>
    <%= form.text_field :merchants_id %>
  </div>

  <div class="field">
    <%= form.label :invoices_id %>
    <%= form.text_field :invoices_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
