<p id="notice"><%= notice %></p>

<h1>Merchant Items</h1>

<h2>Enabled Items</h2>
<table>
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Item Name</th>
      <th>Status</th>
      <th>Update Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enabled_items.each do |item| %>
      <tr id="enable-<%=item.id%>">
          <td><%= item.id %></td>
          <td><%= link_to item.name, merchants_item_path(item) %></td>
          <td><%= item.status %></td>    
          <td><%= button_to "Disable", merchants_items_path(item_id: item.id), method: :change_status %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Disabled Items</h2>
<table>
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Unit price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disabled_items.each do |item| %>
      <tr id="disable-<%=item.id%>">
          <td><%= item.id %></td>
          <td><%= link_to item.name, merchants_item_path(item) %></td>
          <td><%= item.status %></td>    
          <td><%= button_to "Enable", merchants_items_path(item_id: item.id), method: :change_status %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

