<p id="notice"><%= notice %></p>

<p>
  <strong>Item Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= format_price(@item.unit_price) %>
</p>

<<<<<<< HEAD:app/views/merchants/items/show.html.erb
=======
<%= link_to 'Update', edit_merchant_item_path %> |
<%= link_to 'Back', items_path %>
>>>>>>> main:app/views/items/show.html.erb
