<p id="notice"><%= notice %></p>

<p>
  <strong>Item Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= format_price(@item.unit_price) %>
</p>


 <%= link_to 'Back', merchants_items_url(@merchant) %> 

